<ul class="breadcrumb">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag,
                  files_path(:tags=>@selected_tags<<tag),
                  :class=>'btn btn-primary' %>
    </li>
  <% end %>
</ul>
