<ul class="breadcrumb">
  <li>
    <%= link_to 'Clear', 
                files_path(), 
                :class=>"btn btn-danger" %>
  </li>
  <% @selected_tags.each do |tag| %>
    <li>
      <%=  bootstrap_button_link tag, files_path(:tags=>@selected_tags-[tag]), :primary=>true, :icon=>:remove %>
    </li>
  <% end unless @selected_tags.blank? %>
</ul>
