<ul class="breadcrumb">
  <li>
    <%= link_to 'Clear', 
                files_path(), 
                :class=>"btn btn-danger" %>
  </li>
  <% @selected_tags.each do |tag| %>
    <li>
      <%= link_to "#{tag} <i class='icon-remove icon-white'></i>".html_safe,
                  files_path(:tags=>@selected_tags.tap{|a| a.delete(tag)}),
                  :class=>"btn btn-primary" %>
    </li>
  <% end unless @selected_tags.blank? %>
</ul>
