<h2>Files</h2>

<div id="tags" class="well">
</div>

<%= form_tag files_path do %>
<div class="well">
  <span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Add files...</span>
    <input id="fileupload" type="file" name="document" multiple>
  </span>
  <input type="text" id="new_tags"></input> <a class="btn btn-success" id="btn-add-tag">Add Tags</a>
  <a class="btn btn-danger" id="btn-delete"><i class="icon-ban-circle icon-white"></i> <span>Delete</span></a>
</div>
<% end %>

<table class="table table-striped" id="file-list">
  <tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
</table>


<table class="table table-bordered table-striped" id="fileList">
  <thead>
  <tr>
    <td class="select"><input type="checkbox" id="select-all"></input></td>
    <td>Filename</td>
    <td>Tags</td>
    <td class="span1">Size</td>
  </tr>
  </thead>
  <tbody id="fileList" data-bind="template: { name: 'filelist-template', foreach: files }">
  </tbody>
</table>

