<script type="text/html" id="filelist-template">
  <tr>
    <td class="select">
      <input type="checkbox" name="file_ids[]" value="${_id}"></input>
    </td>
    <td>
      <a href="/gridfs/${file_id.$oid}/${file_name}">${file_name}</a>
    </td>
    <td>
      {{each tags}}
        <span class="label label-info">${$value}</span>
      {{/each}}
    </td>
    <td class="align-right span1">
      ${file_size}
    </td>
  </tr>
</script>

<h2>Active Tags</h2>
<div id="selected-tags">
  <%= render 'selected_tags' %>
</div>

<h2>Available Tags</h2>
<div id="available-tags">
  <%= render 'available_tags' %>
</div>

<h2>Files</h2>
<div>
  <span class="btn btn-success fileinput-button">
    <i class="icon-plus icon-white"></i>
    <span>Add files...</span>
    <input id="fileupload" type="file" name="document" multiple>
  </span>
  <a class="btn btn-danger" id="btn-delete"><i class="icon-ban-circle icon-white"></i> <span>Delete</span></a>
  <input type="text"></input> <a class="btn btn-success" id="btn-add-tag">Add Tags</a>
</div>
<div id="upload-list">
</div>

<br/>

<table class="table table-bordered table-striped" id="file-list">
  <thead>
    <tr>
      <td class="select"><input type="checkbox" id="select-all"></input></td>
      <td>Filename</td>
      <td>Tags</td>
      <td class="span1">Size</td>
    </tr>
  </thead>
  <tbody data-bind="template: { name: 'filelist-template', foreach: files }">
  </tbody>
</table>

