// Place all the styles related to the files controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fileinput-button {
  float: none;
}

#file-list {
  thead {
    background: blue;
    color: #ffffff;
    font-weight: bold;
  }
  .select {
    width: 20px;
    text-align: center;
  }
  .actions {
    width: 80px;
    text-align: center;
  }
}
.filerow {
  .badge {
    .icon-remove {
      margin-left: 0.5em;
    }
  }
}
